$highlight: #70b6d1;
$heading: Montserrat, sans-serif;
$paragraph: 'Didact Gothic';

.dropdown-item:hover {
    border-radius: 5px;
}

a {
    font-family: Montserrat;
    text-transform: uppercase;
}

.dropdown-item {
    color: black;
}

.navbar .navbar-toggler[aria-expanded="true"] {
    color: rgba($color: white, $alpha: 0.5)!important;
}

.navbar .navbar-toggler:focus{
    color: rgba($color: white, $alpha: 0.5);
}

.navbar .navbar-toggler:hover{
    color: $highlight;
}

.navbar .navbar-toggler[aria-expanded="true"]:hover {
    color: $highlight!important;
}